body {
	background:#423B35 none repeat scroll 0 0;
	color:#726960;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
}

ul.dropmenu {
	float: left;
	margin: 0px; 
	padding: 0px;
	background:url("images/navigation.png") repeat-x scroll 0 0 transparent;
	display:block;
	height:35px;
}

.dropmenu li a, .dropmenu li{
	display: block;
}

.dropmenu li a:hover, .dropmenu li.open > a{
	background-color: #FFD53A;
	color: #38322D;
}

.dropmenu li{
	list-style: none;
	position: relative;	
	top: 1px;
	margin-bottom: 1px;
}

.dropmenu li span{
	background:url("images/plus.png") repeat-x scroll 0 0 transparent;
	display:block;
	float:right;
	height:10px;
	position:absolute;
	right:10px;
	top:13px;
	width:10px;
}

.dropmenu li a, .dropmenu li div{
	-moz-border-radius:5px 5px 5px 5px;
	background-color:#38322D;
	color:#726960;
	display:block;
	font-weight:bold;
	padding:10px 30px 9px 15px;
	text-decoration:none;
	width: 150px;
}

/* Submenu */
.dropmenu li ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 101%;
	top: 0%;
	padding: 0px;
	margin: 0px;
}

.dropmenu li:hover > ul, .dropmenu li:hover > div{
	display: block;	
}

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;	
	color: #0657AD;
	text-transform: none;
}

.dropmenu li ul li{
	_display: inline;	
}

.dropmenu li > div{
	width: 200px;
}

.dropmenu li ul li a{
	-moz-border-radius:5px 5px 5px 5px;
	background-color:#38322D;
	color:#726960;
	display:block;
	font-weight:bold;
	padding:10px 30px 9px 15px;
	text-decoration:none;
}

.dropmenu li ul li a:hover{
	background-color: #FFD53A;
	color: #38322D;
}
